.modal {
  width: 40%;
  max-height: 90vh;
  overflow: auto;
  background-color: var(--modal-bg);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 56px;
  padding: 16px 48px 16px 20px;
}

.modalCloseIcon {
  cursor: pointer;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border: none;
  background: transparent;
}

.modalContent {
  padding: 0 20px 20px;
}
