:root {
  --dark: #151521;
  --dark-light: #151821;
  --purple: #5d4de3;
  --blue: #34bbf2;
  --grey: #5b5d6a;
  --grey: #5b5d6a;
  --white: #ececec;

  --bg: var(--dark);
  --text: var(--white);
}

html,
body,
#root {
  height: 100%;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  flex-direction: column;
  background-color: var(--bg);
  box-sizing: border-box;
  scrollbar-color: var(--purple) var(--dark);
}

div,
form {
  box-sizing: border-box;
}

span {
  font-family: "Segoe UI";
  font-style: normal;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: var(--text);
}
